.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}
/* 
.navLink {
  font-size: 18px;
}
.navLinkactive {
  font-size: 18px;
  color: red;
}

.ul {
  list-style-type: none;
  display: flex;
}
.ul :not(:first-child) {
  margin-left: 20px;
} */
